* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.row {
    text-align: center;
    display: flex;
}

.cell {
    position: relative;
    font-size: 20px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    user-select: none;
    font-size: 41px;
    transition: transform 75ms ease-in;

}

.highlight {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border-radius: 3px; */


}

.highlight.empty {
    top: 35%;
    left: 35%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0000005f;

}

.highlight.piece {
    box-shadow: inset 0px 0px 4px 3px #9e0101;
}
.highlight.king {
    box-shadow: inset 0px 0px 4px 3px #0019f9;
}


.highlight.underAttack {
    padding: 16px;
    font-size: 14px;
}


.cell.light {
    background: #ebccae;
}

.cell.dark {
    background: #d2694c;
}



.cell.black-piece {
    color: #000000;
    text-shadow: 1px 1px white;

}

.cell.light-piece {
    color: #ffffff;
    text-shadow: 1px 2px rgb(0, 0, 0);
}

.cell.active {
    color: #7e3ff6;
    text-shadow: 1px 2px #51e5f5;

}


.ranks {
    text-align: center;
    font-size: 20px;
    padding-left: 8.63px;
}

.ranks span {
    display: inline-block;
    width: 55px;
}

.files {
    font-size: 20px;
    padding: 14px 5px 0 0;
}