* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    padding: 5px;
    color: white;
    background-color: #363636;
    border: none;
    border-radius: 3px;
}
button:hover{
    background-color: #595858;
}

input:focus {
    outline: none;
}

.App {
    background: radial-gradient(circle at 10% 20%, rgb(110, 206, 156) 0%, rgb(77, 120, 135) 100.2%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
