.row {
    text-align: center;
    display: flex;
}

.ranks {
    text-align: center;
    font-size: 20px;
    padding-left: 8.63px;
}

.ranks span {
    display: inline-block;
    width: 55px;
}

.files {
    font-size: 20px;
    padding: 14px 5px 0 0;
}

