.castling img {
    width: 25px;
}

.castling {
    display: flex;
    gap: 15px;
}

.castling button {
    font-size: 20px;
}

.castling button img {
    vertical-align: sub;
}

.mirrored {
    transform: scaleX(-1);
}